
        
*{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
}
html{
    
    scroll-behavior: smooth;
    

}

.float{
    display: flex;
   
   position: fixed;
  z-index: 2;
  top: 90%;
  left: 90%;
    justify-content: center;

    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ededed;
}
body{
    top: 0;
    left: 0;
    margin: 0;
}
.menu{
    display: none;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 4;
    transition: .5s;
    border-radius: 10px;
    border: solid #ededed;
    background-color: #ededed;
   text-align: right;
}

.menu .menu-elements{
    display: flex;
    height: 300px;
    width: 200px;
    flex-direction: column;

    justify-content: space-around;

    align-items: center;
    
}
#bars{
    
    display: none;
}
a{
    text-decoration: none;
    color: black;
}

a.active{
    color: green;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    position:relative;
    overflow: hidden;
    

    
}
.nav-logo{
    display: flex;
    margin: 0 50px;
}

.nav-logo .h1-1{
    color: white;
}

.nav-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 50px;
}


.rotate{
    top: -70px;
    right: -70px;
 position: absolute;
 
 
 z-index: -1;
 width: 240px;
 height: 240px;
 border-radius: 60% 100% 50% 60% ;
 
 
 background: #ededed;
 animation: rotate 6s infinite linear;
 }
 
 
 .rotate2{
     top: -50px;
    left: -40px;
 position: absolute;
 
 z-index: -1;
 width: 230px;
 height: 230px;
 
 border-radius: 70% 80% 70% 70% ;
 
 background: #ededed;
 
 animation: rotate 6s infinite linear;
 }
 
 @keyframes rotate {
     0%{
         transform: rotate(0deg);
     }
     50%{
         transform: rotate(180deg);
     }
     100%{
         transform: rotate(360deg);
     }
 }
 
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;

}

.home .profile-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid #ededed;


}


.home .welcome{
    height: 250px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h1{
    font-size: 25px;
    margin: 5px;
}

.hi{
    margin: 20px;
}
.profile-picture img{

     width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid #ededed;
    background-color: #ededed;
    object-fit: contain;
   
}

.home-btn{
    display: flex;
   
    margin: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
   font-size: 20px;
    border-radius: 50px;
    border: solid #ededed;
    background-color: #ededed;
}

 .home-btn a:hover{
  transform: scale(1.05);
 }   


.about{

    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;

   
}

.about-section{
    
    border-radius:50px;
    border: solid #ededed;
    height: auto;
    margin: 20px;
    
}

.about-section p{
    margin: 60px;
}

.skills{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    
    
}

.skills-section{
    border-radius:50px;
    border: solid #ededed;
    height: auto;
    margin: 20px;
    display: flex;
    flex-wrap:wrap;
   
    justify-content: center;
    align-items: center;
}



.skill-box{
width:auto;
height: auto;
display: flex;
border-radius: 5px;
    margin:20px;
   background-color: #ededed;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
 .skill-box:hover{
  transform: scale(1.05);
 }   

.skill-box p{
margin: 20px;
}


.contact{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius:50px;
    border: solid #ededed;
    height: auto;
    margin: 20px;
    
}

.contact .contact-section{
    display: flex;
  
    width: 100%;
    justify-content: space-around;
    align-items: center;
  
    

}

.contact-section .contact-details{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
   
}
.contact-section .msg-ico{
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border: solid #ededed;
    background-color: #ededed;
    border-radius: 60px;
    border-bottom-right-radius: 5px;
}

@media (max-width:800px) {
    .nav-elements{
        display: none;
    }
    .menu{
        display: block;
    }

    .home{
        flex-direction: column-reverse;
    }
    #bars{
        display: block;
    }
    .contact .contact-section{
        flex-direction: column;
    }
    .menu{
        display: block;
    }
    .home-btn{
      flex-direction: column;
    }
}

